In [5]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

### 1. Load INC5000 2018 Data into the PostgreSQL Database

In [9]:
engine = create_engine('postgresql+psycopg2://zacharynguyen:92ZacharY@localhost:5432/inc5000')

In [10]:
df = pd.read_csv('data/inc5000_2018.csv', sep=',').replace(to_replace='null', value=np.NaN)

df.columns = ['id', 'url', 'rank', 'city', 'ifmid', 'ifiid',
       'growth', 'workers', 'company', 'website','state_l', 'state_s', 'revenue', 'zipcode',
       'founded', 'industry', 'latitude', 'metrocode',
       'longitude', 'yrs_on_list', 'previous_workers', 'metro',
       'partner_lists']

df.head()

,id,url,rank,city,ifmid,ifiid,growth,workers,company,website,...,zipcode,founded,industry,latitude,metrocode,longitude,yrs_on_list,previous_workers,metro,partner_lists
0,71021.0,swanleap,1.0,Madison,78.0,6.0,75660.8425,49.0,SwanLeap,http://swanleap.com,...,53719.0,2013.0,Logistics & Transportation,43.04531,"Madison, WI",-89.51538,2.0,4.0,"Madison, WI",NaN
1,87397.0,popsockets,2.0,Boulder,31.0,4.0,71423.7620,118.0,PopSockets,http://popsockets.com,...,80301.0,2010.0,Consumer Products & Services,40.04947,"Boulder, CO",-105.20142,1.0,2.0,"Boulder, CO",NaN
2,87398.0,home-chef,3.0,Chicago,17.0,11.0,60165.5058,865.0,Home Chef,homechef.com,...,60611.0,2013.0,Food & Beverage,41.89570,"Chicago-Naperville-Elgin, IL-IN-WI",-87.61378,1.0,35.0,Chicago,NaN
3,81957.0,velocity-global,4.0,Denver,30.0,17.0,39816.5093,55.0,Velocity Global,http://velocityglobal.com,...,80205.0,2013.0,Business Products & Services,39.75886,"Denver-Aurora-Lakewood, CO",-104.96283,1.0,1.0,Denver,NaN
4,87399.0,depcom-power,5.0,Scottsdale,46.0,16.0,38962.9022,104.0,DEPCOM Power,depcompower.com,...,85258.0,2013.0,Energy,33.56430,"Phoenix-Mesa-Scottsdale, AZ",-111.89588,1.0,27.0,Phoenix,NaN

In [11]:
df.to_sql('inc2018_data',  con=engine)

### 2. Load INC5000 2007-2017 Data into the PostgreSQL Database

In [12]:
inc_ten_df = pd.read_csv('data/inc5000_all10years.csv', sep=',',encoding = 'unicode_escape').replace(to_replace='null', value=np.NaN)

In [13]:
inc_ten_df.columns = ['year', 'rank', 'city', 'growth', 'workers',
       'company', 'state_s', 'state_l', 'revenue',
       'yrs_on_list', 'industry', 'metro']

In [14]:
inc_ten_df.head()

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
0,2016,1,Los Angeles,66788.5962,218.0,Loot Crate,CA,California,116247698.0,1,Consumer Products & Services,Los Angeles
1,2016,2,Somerville,36555.2472,100.0,Paint Nite,MA,Massachusetts,55018793.0,2,Consumer Products & Services,Boston
2,2016,3,Visalia,31633.5448,47.0,CalCom Solar,CA,California,33507450.0,2,Energy,"Visalia-Porterville, CA"
3,2016,4,Evansville,23619.7198,82.0,eLuxurySupply.com,IN,Indiana,30695215.0,2,Retail,"Evansville, IN-KY"
4,2016,5,Atlanta,23486.8894,48.0,Company.com,GA,Georgia,33370967.0,2,Business Products & Services,Atlanta

In [15]:
inc_ten_df.to_sql('inc2007_2017_data',  con=engine)